# Node modules folder
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
# /client/build/
# /server/build/

# Vercel configuration (if any specific build files are created)
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor specific files
.vscode/
.idea/

# .git directory (this shouldn't exist in the gitignore file, git automatically manages it)
.git/

# If you're deploying to a platform that adds its own files or configurations
.vscode/
